<!DOCTYPE html>
<html>
<head>
    <title>Calc</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
<div>
    <label>
        Action
        <select id="action">
            <option value="1">+</option>
            <option value="2">-</option>
            <option value="3">*</option>
            <option value="4">/</option>
        </select>
    </label>
    <label>
        First
        <input id="first" type="text" value="56"/>
    </label>
    <label>
        Second
        <input id="second" type="text" value="5"/>
    </label>
    <input id="run" type="button" value="press"/>
</div>
<div>
    <span id="result"></span>
</div>
</body>
</html>